<% content_for :title, "Movimientos entre fechas" %>

<h1>Movimientos entre fechas</h1>

<div class="row">
	<div><%= render 'notice' %></div>
</div>


<%# , as: :search, url: url_for(action: :cons_entre_fechas), include_id: false, method: :get #%>

<div class="row">
	<%= form_for(@movimiento, url: movimientos_consultas_entre_fechas_path, method: :post, html: {class: "form-inline"}) do |f| %>
	  <%= render 'errores', partial: true, model: @movimiento, model_name: 'La cuenta' %>

		<div class="col-sm-12 form-group">
			<%= f.label "Cuenta: " %>
			<%= f.select :cuenta_id, options_for_select(current_user.cuentas.all_for_select), {}, {class: "form-control"} %>
			<span style="width: 10px; display: inline-block;"></span>
			<%= f.label "Período: " %>
			<%= f.text_field :fecha_desde, value: format_date(params[:desde]), class: "form-control date-picker", required: true, autofocus: true %>
			 al 
			<%= f.text_field :fecha_hasta, value: format_date(params[:hasta]), class: "form-control date-picker", required: true %>
			<span style="width: 10px; display: inline-block;"></span>
			<%= f.label "Tipo: " %>
			<%= f.select :tipo_informe, options_for_select(MovEntreFechasSearch::TIPOS_INFORME), {}, {class: "form-control"} %>
			<span style="width: 10px; display: inline-block;"></span>
			<%= f.submit "Consultar", class: 'btn btn-default', role: 'button'%>
		</div>
	<% end %>
</div>