<%= form_for(tipo_transaccion) do |f| %>
  <%= render 'errores', partial: true, model: tipo_transaccion, model_name: 'El tipo de transacción' %>

  <div class="form-group">
    <%= f.label :descripcion %>
    <%= f.text_field :descripcion, class: 'form-control' %>
  </div>

  <div class="checkbox">
    <%= f.label :habilitado do %>
      <%= f.check_box :habilitado %>
      Habilitado
    <% end %>    
  </div>

  <div class="actions">
    <%= f.submit class: 'btn btn-default', role: 'button'%>
    <%= link_to 'Cancelar', tipos_transacciones_path, class: 'btn btn-default', role: 'button' %>    
  </div>
<% end %>
