<div class="row">
  <h1 class="col-sm-5">Tipos de Transacciones</h1>
  <div class="col-sm-4"><%= render 'notice' %></div>  
  <div id="menu-abm" class="col-sm-3 text-right">
    <%= link_to 'Nuevo Tipo', new_tipo_transaccion_path, class: 'btn btn-default', role: 'button' %>
  </div>
</div>

<% if @tipos_transacciones.any? %>

  <table class="table table-striped table-responsive">
    <thead>
      <tr>
        <th>Descripción</th>
        <th>Habilitado</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @tipos_transacciones.each do |tipo_transaccion| %>
        <tr>
          <td><%= tipo_transaccion.descripcion %></td>
          <td class="col-sm-5">
            <%= render partial: "controls/checkbox", object: tipo_transaccion.habilitado %>
          </td>          
          <td class="col-sm-1">
            <%= link_to edit_tipo_transaccion_path(tipo_transaccion) do %>
              <span class="glyphicon glyphicon-edit"></span>
            <% end %>
            <%= link_to tipo_transaccion, method: :delete, data: { confirm: '¿Está seguro?' } do %>
              <span class="glyphicon glyphicon-trash"></span>
            <% end %>
          </td>          
        </tr>
      <% end %>
    </tbody>
  </table>

<% else %>
  <div id="notas-empty" class="row">
    <div class="alert alert-success text-center col-sm-4 col-sm-offset-4">
      Todavía no hay tipos de transacciones cargados.
    </div>
  </div>
<% end %>