<nav class="navbar navbar-inverse navbar-static-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" rel="home" href="#" title="Gastos">
          <%= image_tag "new-logo.png", size: "32x32", style: "margin-top: -7px; margin-right: -10px;" %>
      </a>
      <span style="color: #fff; font-weight: bold; font-size: 1.75em;" class="navbar-brand">
        Gastos
      </span>
    </div>


    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <%= link_to movimientos_path, class: "dropdown-toggle", data: {toggle: "dropdown"} do %>
            Movimientos <span class="caret"></span>
          <% end %>
          <ul class="dropdown-menu">
            <li><%= link_to 'Listado general', movimientos_path %></li>
            <li><%= link_to 'Entre fechas', movimientos_consultas_entre_fechas_path %></li>
          </ul>
        </li>
        <li class="dropdown">
          <%= link_to cuentas_path, class: "dropdown-toggle", data: {toggle: "dropdown"} do %>
            Cuentas <span class="caret"></span>
          <% end %>
          <ul class="dropdown-menu">
            <li><%= link_to 'Listado general', cuentas_path %></li>
            <li><%= link_to 'Saldos de cuentas', informes_cuentas_saldos_path %></li>
          </ul>
        </li>
        <li><%= link_to 'Tipos de transacciones', tipos_transacciones_path%></li>
        <li><%= link_to 'Transacciones', transacciones_path %></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-user"></span>
          <%= current_user.nombre %><span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li>
              <%= link_to "Cambiar contraseña", change_pwd_usuario_path(current_user) %>
            </li>
            <% if current_user.es_admin %>
            <li>
              <%= link_to "Editar usuarios", usuarios_path %>
            </li>
            <% end %>
            <li>
              <%= link_to logout_path, method: :delete do %>
                <span class="glyphicon glyphicon-log-out"></span> Cerrar sesión
              <% end %>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>