<% content_for :title, "Log in" %>

<div class="row">
  <h1 class="col-sm-3">Log in</h1>
  <div class="col-sm-6"><%= render 'notice' %></div>  
</div>

<%= form_tag sesiones_path do %>
  <p>
    <%= label_tag :email %><br />
    <%= text_field_tag :email, params[:email] %>
  </p>
  <p>
    <%= label_tag :password %><br />
    <%= password_field_tag :password %>
  </p>
  <p class="button"><%= submit_tag "Log in" %></p>
<% end %>