<%= form_for(@movimiento, url: {controller: :movimientos, action: :carga_masiva},  html: {class: 'carga_masiva'}) do |f| %>
  <%= render 'errores', partial: true, model: movimiento, model_name: 'El movimiento' %>

  <div class="row panel panel-default" style="margin: 2px 2px 10px 2px; padding-top: 5px;">
    <div class="form-group col-sm-6">
      <%= f.label :cuenta_id %>
      <%= f.select :cuenta_id, options_for_select(current_user.cuentas.all_for_select, movimiento.cuenta_id),
            {prompt: t('helpers.select.prompt')}, {class: "form-control"} %>
    </div>

    <div class="form-group col-sm-2">
      <%= f.label :fecha_mov %><br/>
      <%#= f.date_select :fecha_mov %>
      <%= f.text_field :fecha_mov, value: format_date(movimiento.fecha_mov), class: "date-picker" %>
      <!--input type="text" name="form-control" class="date-picker"-->
    </div>

    <div class="form-group col-sm-2">
      <div class="checkbox">
        <label><%= check_box "movimiento", "agrupar", {}, "true", "false" %>Agrupar movimientos similares</label>
      </div>
    </div>

    <div class="form-group col-sm-2 total text-center">
      <h4 style="color: blue; background-color: #ededed; border: 1px solid #e0e0e0; padding: 3px;">
        <span>$0.00</span>
        <a href="#" title="Refrescar suma"><span class="glyphicon glyphicon-refresh"></span></a>
      </h4>
    </div>
  </div>

  <div id="movimientos">
    <div class="row" style="font-weight: bold; margin-bottom: 5px;">
        <div class="col-sm-4 text-center">Tipo de Transacción</div>
        <div class="col-sm-4 text-center">Transacción</div>
        <div class="col-sm-3 text-center">Importe</div>
        <div class="col-sm-1 text-center"></div>
    </div>

    <%= render partial: 'movimientos/carga_masiva/movimiento', collection: @movimiento.items %>

    <div class="row">
      <div class="col-sm-12 text-right" id="nuevo-mov">
        <%= link_to action: :nuevo_movimiento_masivo, controller: :movimientos, remote: true do %>
          <span class="glyphicon glyphicon-plus"></span> Agregar fila
        <% end %>
        <div style="display: inline-block; width: 25px;">
          <%= image_tag "ajax-loader.gif", { alt: "Cargando...", size: "25", class: 'loader hide-on-load',
                style: 'display: inline-block; width: 20px;'} %>
        </div>
      </div>
    </div>
  </div>

  <%= render partial: "controls/form_actions", locals: { form: f, cancelar_path: movimientos_path} %>
<% end %>
