<%= fields_for "movimiento[items][]", movimiento do |f| -%>
  <div class="row">
    <div class="form-group col-sm-4 tipo-transaccion">
      <%= select_tag "tipo_transaccion_id", options_for_select(TipoTransaccion.all_for_select(current_user),
            movimiento.tipo_transaccion_id), {prompt: t('helpers.select.prompt'), class: "form-control"} %>
    </div>

    <div class="form-group col-sm-4 transaccion">
      <%= image_tag "ajax-loader.gif", { alt: "Cargando...", size: "25", id: "loader", class: 'hide-on-load'} %>
      <% trxs = movimiento.tipo_transaccion_id.blank?? [] : current_user.transacciones.all_for_select(movimiento.tipo_transaccion_id) %>
      <%= f.select :transaccion_id, options_for_select(trxs, movimiento.transaccion_id),
            {prompt: t('helpers.select.prompt')}, {class: 'form-control'} %>
    </div>

    <div class="col-sm-4 no-padding-horiz">
      <div class="container-fluid">
        <div class="row">
          <div class="form-group col-sm-11 importe">
            <%= f.text_field :importe, value: currency_for_edition(movimiento.importe), class: 'form-control text-right number' %>
          </div>
          <div class="col-sm-1 no-padding-horiz">
            <%= link_to '#', class: 'eliminar', title: 'Eliminar esta fila', style: "display: block; padding: 6px 0 0 0; border: none;" do %>
              <span class="glyphicon glyphicon-trash"></span>
            <% end %>
          </div>
        </div>
      </div>
    </div>

  </div>
<% end -%>
