<%= form_for(@movimiento) do |f| %>
  <%= render 'errores', partial: true, model: movimiento, model_name: 'El movimiento' %>

  <div class="form-group">
    <%= f.label :cuenta_id %>
    <%= f.select :cuenta_id, options_for_select(Cuenta.all_for_select, @movimiento.cuenta_id),
          {prompt: t('helpers.select.prompt')}, {class: "form-control"} %>
  </div>

  <div class="form-group">
    <%= f.label :fecha_mov %><br/>
    <%#= f.date_select :fecha_mov %>
    <%= f.text_field :fecha_mov, value: format_date(@movimiento.fecha_mov), class: "date-picker" %>
    <!--input type="text" name="form-control" class="date-picker"-->
  </div>

  <div class="form-group">
    <%= label_tag "tipo_transaccion_id", 'Tipo de transacción' %>
    <%= select_tag "tipo_transaccion_id", options_for_select(TipoTransaccion.all_for_select, @movimiento.tipo_transaccion_id), 
          {prompt: t('helpers.select.prompt'), class: "form-control"} %>
  </div>

  <div id="transacciones" class="form-group">
    <%= f.label :transaccion_id %>
    <%= image_tag "ajax-loader.gif", { alt: "Cargando...", size: "25", id: "loader"} %>
    <%= f.select :transaccion_id, options_for_select(@transacciones, @movimiento.transaccion_id), 
          {prompt: t('helpers.select.prompt')}, {class: 'form-control'} %>
  </div>

  <div class="form-group">
    <%= f.label :importe %>
    <%= f.text_field :importe, value: currency_for_edition(@movimiento.importe), class: 'form-control text-right number' %>
  </div>

  <%= render partial: "controls/form_actions", locals: { form: f, cancelar_path: movimientos_path} %>
<% end %>
