<%= form_for(movimiento) do |f| %>
  <%= render 'errores', partial: true, model: movimiento, model_name: 'El movimiento' %>

  <div class="form-group">
    <%= f.label :fecha_mov %>
    <%= f.date_select :fecha_mov, {class: 'form-control'} %>
  </div>

  <div class="form-group">
    <%= label_tag "tipo_transaccion_id", 'Tipo de transacción' %>
    <%= select_tag "tipo_transaccion_id", options_for_select(@tipos_transacciones),  
          {prompt: t('helpers.select.prompt'), class: "form-control"} %>
  </div>

  <div id="transacciones" class="form-group">
    <%= f.label :transaccion_id %>
    <%= select_tag :transaccion_id, options_for_select([]), 
          {prompt: t('helpers.select.prompt'), class: 'form-control'} %>
  </div>

  <div class="form-group">
    <%= f.label :importe %>
    <%= f.text_field :importe, value: number_to_currency(movimiento.importe), class: 'form-control text-right' %>
  </div>

  <%= render partial: "controls/form_actions", locals: { form: f, cancelar_path: movimientos_path} %>
<% end %>
