<% if @movimientos.any? %>
  <table class="table table-striped table-responsive table-bordered">
    <thead>
      <tr>
        <th class="text-center">Fecha</th>
        <th class="text-center">Rubro</th>
        <th class="text-center">Transacción</th>
        <th class="text-center">Contr.</th>
        <th class="text-center">Importe</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @movimientos.each do |movimiento| %>
        <tr>
          <td class="col-sm-2"><%= I18n.localize movimiento.fecha_mov, format: :fecmov %></td>
          <td><%= movimiento.transaccion.tipo_transaccion.descripcion %></td>
          <td><%= movimiento.transaccion.descripcion %></td>
          <td class="text-center"><%= render partial: "controls/checkbox", object: movimiento.es_contrasiento %></td>
          <td class="text-right"><%= number_to_currency movimiento.importe %></td>
          <td class="text-center">
            <% if not movimiento.es_contrasiento %>
              <%= link_to edit_movimiento_path(movimiento) do %>
                <span class="glyphicon glyphicon-edit"></span>
              <% end %>
              <%= link_to movimiento, method: :delete, data: { confirm: '¿Está seguro que desea contrasentar el movimiento?' } do %>
                <span class="glyphicon glyphicon-trash"></span>
              <% end %>
            <% end -%>
          </td>          
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= paginate @movimientos, remote: true, window: 20 %>
<% else %>
  <div id="notas-empty" class="row">
    <div class="alert alert-success text-center col-sm-4 col-sm-offset-4">
      Todavía no hay movimientos cargados.
    </div>
  </div>
<% end %>