<p id="notice"><%= notice %></p>

<p>
  <strong>Descripcion:</strong>
  <%= @cuenta.descripcion %>
</p>

<p>
  <strong>Saldo inicial:</strong>
  <%= @cuenta.saldo_inicial %>
</p>

<%= link_to 'Edit', edit_cuenta_path(@cuenta) %> |
<%= link_to 'Back', cuentas_path %>
